In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
movie_budgets_df = pd.read_csv('zippedData/tn.movie_budgets.csv.gz') #Michael's from Rotten Tomatos 
movie_studios = pd.read_csv('zippedData/bom.movie_gross.csv.gz')     #Teigen's from Box Office Mojo 
title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')    #Louis' from basics IMDB
title_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')  #Louis' ratings from IMDB
tmdb = pd.read_csv('zippedData/tmdb.movies.csv.gz')                  #Ely's from TMDB

In [4]:
#Ely's innitial cleaning TMDB 
genres={'28':"Action",
'12':"Adventure",
'16':"Animation",
'35':"Comedy",
'80':"Crime",
'99':"Documentary",
'18':"Drama",
'10751':"Family",
'14':"Fantasy",
'36':"History",
'27':"Horror",
'10402':"Music",
'9648':"Mystery",
'10749':"Romance",
'878':"Science Fiction",
'10770':"TV Movie",
'53':"Thriller",
'10752':"War",
'37':"Western"}

tmdb = tmdb.replace(pd.Series(genres).astype(str), regex=True)
tmdb['genre_ids']=tmdb['genre_ids'].str.strip('[]').str.split(', ')

In [5]:
#IMDB merge
title_master = title_basics.merge(title_ratings, how='inner')

In [6]:
louis_and_ely = tmdb.merge(title_master, how = 'inner')
louis_and_ely

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,tconst,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,0,"[Adventure, Fantasy, Family]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,tt0926084,Harry Potter and the Deathly Hallows: Part 1,2010,146.0,"Adventure,Fantasy,Mystery",7.7,425530
1,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,tt0892769,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299
2,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,tt1228705,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690
3,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
4,5,"[Adventure, Fantasy, Family]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229,tt0814255,Percy Jackson & the Olympians: The Lightning T...,2010,118.0,"Adventure,Family,Fantasy",5.9,165108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17800,26509,[Horror],502255,en,Closing Time,0.600,20Drama-02-24,Closing Time,0.0,1,tt8731118,Closing Time,2018,116.0,Documentary,6.4,51
17801,26514,"[Fantasy, Action, Adventure]",381231,en,The Last One,0.600,20Drama-10-01,The Last One,0.0,1,tt2962488,The Last One,2014,80.0,"Documentary,History,News",7.0,26
17802,26514,"[Fantasy, Action, Adventure]",381231,en,The Last One,0.600,20Drama-10-01,The Last One,0.0,1,tt3118968,The Last One,2018,85.0,"Action,Adventure,Fantasy",6.1,15
17803,26515,"[Family, Adventure, Action]",366854,en,Trailer Made,0.600,20Drama-06-22,Trailer Made,0.0,1,tt3377456,Trailer Made,2016,79.0,Adventure,4.3,25
17804,26516,"[Thriller, Horror]",309885,en,The Church,0.600,20Drama-10-05,The Church,0.0,1,tt2482856,The Church,2018,81.0,"Horror,Thriller",5.7,19

In [20]:
louis_and_ely_and_teigen = louis_and_ely.merge(movie_studios, how = 'inner')

In [21]:

let = louis_and_ely_and_teigen.drop(['domestic_gross', 'foreign_gross'], axis = 1)
let

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,tconst,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,year
0,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,tt0892769,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299,P/DW,2010
1,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,tt1228705,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690,Par.,2010
2,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066,WB,2010
3,7,"[Animation, Family, Comedy]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340,tt0435761,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218,BV,2010
4,8,"[Animation, Family, Comedy]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057,tt1323594,Despicable Me,2010,95.0,"Animation,Comedy,Family",7.7,464511,Uni.,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2831,24778,[Drama],484428,sv,Unga Astrid,4.734,20Drama-11-23,Becoming Astrid,7.4,28,tt6433456,Becoming Astrid,2018,123.0,"Biography,Drama",7.2,2497,MBox,2018
2832,24916,[Drama],473262,it,"Nico, 1988",3.789,20Drama-07-04,"Nico, 1988",7.3,40,tt7186092,"Nico, 1988",2017,93.0,"Biography,Drama,Music",6.8,1007,Magn.,2018
2833,25037,[Documentary],465871,en,Maria by Callas,3.184,20Drama-11-02,Maria by Callas,7.6,11,tt7364566,Maria by Callas,2017,119.0,"Biography,Documentary,Music",7.2,867,SPC,2018
2834,25148,"[Action, Adventure, Animation]",332718,en,Bilal: A New Breed of Hero,2.707,20Drama-02-02,Bilal: A New Breed of Hero,6.8,54,tt3576728,Bilal: A New Breed of Hero,2015,105.0,"Action,Adventure,Animation",8.0,16854,VE,2018
2835,25189,[Comedy],498919,es,La Boda de Valentina,2.550,20Drama-02-09,La Boda de Valentina,6.3,7,tt4823538,La Boda de Valentina,2018,107.0,"Comedy,Romance",4.7,523,PNT,2018

In [31]:

master_unclean = let.merge(movie_budgets_df, on='title', how = 'inner')
master_unclean

,Unnamed: 0,genre_ids,id_x,original_language,original_title,popularity,release_date_x,title,vote_average,vote_count,...,genres,averagerating,numvotes,studio,year,id_y,release_date_y,production_budget,domestic_gross,worldwide_gross
0,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,...,"Action,Adventure,Animation",8.1,611299,P/DW,2010,30,"Mar 26, 2010","$165,000,000","$217,581,232","$494,870,992"
1,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,...,"Action,Adventure,Sci-Fi",7.0,657690,Par.,2010,15,"May 7, 2010","$170,000,000","$312,433,331","$621,156,389"
2,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,...,"Action,Adventure,Sci-Fi",8.8,1841066,WB,2010,38,"Jul 16, 2010","$160,000,000","$292,576,195","$835,524,642"
3,7,"[Animation, Family, Comedy]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340,...,"Adventure,Animation,Comedy",8.3,682218,BV,2010,47,"Jun 18, 2010","$200,000,000","$415,004,880","$1,068,879,522"
4,8,"[Animation, Family, Comedy]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057,...,"Animation,Comedy,Family",7.7,464511,Uni.,2010,50,"Jul 9, 2010","$69,000,000","$251,513,985","$543,464,573"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,24089,"[Drama, History, Thriller]",453201,en,The 15:17 to Paris,11.576,20Drama-02-09,The 15:17 to Paris,5.3,799,...,"Biography,Drama,Thriller",5.2,21880,WB,2018,23,"Feb 9, 2018","$30,000,000","$36,276,286","$56,096,200"
1661,24120,[Comedy],474335,en,Uncle Drew,10.836,20Drama-06-29,Uncle Drew,6.5,220,...,"Comedy,Sport",5.7,9739,LG/S,2018,85,"Jun 29, 2018","$18,000,000","$42,469,946","$46,527,161"
1662,24168,"[Crime, Drama, History, Thriller]",339103,en,Gotti,10.034,20Drama-06-15,Gotti,5.2,231,...,"Biography,Crime,Drama",4.8,10358,VE,2018,64,"Jun 15, 2018","$10,000,000","$4,286,367","$6,089,100"
1663,24212,"[Thriller, Action, Crime]",442064,en,Proud Mary,9.371,20Drama-01-Adventure,Proud Mary,5.5,259,...,"Action,Crime,Drama",4.9,6805,SGem,2018,50,"Jan 12, 2018","$30,000,000","$20,868,638","$21,709,539"
1664,25148,"[Action, Adventure, Animation]",332718,en,Bilal: A New Breed of Hero,2.707,20Drama-02-02,Bilal: A New Breed of Hero,6.8,54,...,"Action,Adventure,Animation",8.0,16854,VE,2018,100,"Feb 2, 2018","$30,000,000","$490,973","$648,599"

In [32]:
master_unclean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1665 entries, 0 to 1664
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1665 non-null   int64
 1   genre_ids          1665 non-null   object
 2   id_x               1665 non-null   int64
 3   original_language  1665 non-null   object
 4   original_title     1665 non-null   object
 5   popularity         1665 non-null   float64
 6   release_date_x     1665 non-null   object
 7   title              1665 non-null   object
 8   vote_average       1665 non-null   float64
 9   vote_count         1665 non-null   int64
 10  tconst             1665 non-null   object
 11  primary_title      1665 non-null   object
 12  start_year         1665 non-null   int64
 13  runtime_minutes    1631 non-null   float64
 14  genres             1659 non-null   object
 15  averagerating      1665 non-null   float64
 16  numvotes           1665 non-null   int64
 17  studio             1665 non-null   object
 18  year               1665 non-null   int64
 19  id_y               1665 non-null   int64
 20  release_date_y     1665 non-null   object
 21  production_budget  1665 non-null   object
 22  domestic_gross     1665 non-null   object
 23  worldwide_gross    1665 non-null   object
dtypes: float64(4), int64(7), object(13)
memory usage: 325.2+ KB

In [41]:
less_columns = master_unclean.drop(['Unnamed: 0', 'id_x', 'original_title', 'tconst', 'start_year', 'id_y', 'genres', 'release_date_x', 'primary_title'], axis = 1)

In [42]:
less_columns

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,year,release_date_y,production_budget,domestic_gross,worldwide_gross
0,"[Fantasy, Adventure, Animation, Family]",en,28.734,How to Train Your Dragon,7.7,7610,98.0,8.1,611299,P/DW,2010,"Mar 26, 2010","$165,000,000","$217,581,232","$494,870,992"
1,"[Adventure, Action, Science Fiction]",en,28.515,Iron Man 2,6.8,12368,124.0,7.0,657690,Par.,2010,"May 7, 2010","$170,000,000","$312,433,331","$621,156,389"
2,"[Action, Science Fiction, Adventure]",en,27.920,Inception,8.3,22186,148.0,8.8,1841066,WB,2010,"Jul 16, 2010","$160,000,000","$292,576,195","$835,524,642"
3,"[Animation, Family, Comedy]",en,24.445,Toy Story 3,7.7,8340,103.0,8.3,682218,BV,2010,"Jun 18, 2010","$200,000,000","$415,004,880","$1,068,879,522"
4,"[Animation, Family, Comedy]",en,23.673,Despicable Me,7.2,10057,95.0,7.7,464511,Uni.,2010,"Jul 9, 2010","$69,000,000","$251,513,985","$543,464,573"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,"[Drama, History, Thriller]",en,11.576,The 15:17 to Paris,5.3,799,94.0,5.2,21880,WB,2018,"Feb 9, 2018","$30,000,000","$36,276,286","$56,096,200"
1661,[Comedy],en,10.836,Uncle Drew,6.5,220,103.0,5.7,9739,LG/S,2018,"Jun 29, 2018","$18,000,000","$42,469,946","$46,527,161"
1662,"[Crime, Drama, History, Thriller]",en,10.034,Gotti,5.2,231,112.0,4.8,10358,VE,2018,"Jun 15, 2018","$10,000,000","$4,286,367","$6,089,100"
1663,"[Thriller, Action, Crime]",en,9.371,Proud Mary,5.5,259,89.0,4.9,6805,SGem,2018,"Jan 12, 2018","$30,000,000","$20,868,638","$21,709,539"
1664,"[Action, Adventure, Animation]",en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,2018,"Feb 2, 2018","$30,000,000","$490,973","$648,599"

In [44]:
less_columns=less_columns.loc[less_columns['year'] >= 2016]

In [46]:
less_columns=less_columns.drop(['year'], axis=1)

In [47]:
less_columns

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,release_date_y,production_budget,domestic_gross,worldwide_gross
195,"[Comedy, Animation]",en,0.834,Get Out,5.5,8,104.0,7.7,400474,Uni.,"Feb 24, 2017","$5,000,000","$176,040,665","$255,367,951"
196,"[Mystery, Thriller, Horror]",en,24.739,Get Out,7.5,8760,104.0,7.7,400474,Uni.,"Feb 24, 2017","$5,000,000","$176,040,665","$255,367,951"
435,"[Action, Animation]",en,2.058,Black Panther,5.1,11,134.0,7.3,516148,BV,"Feb 16, 2018","$200,000,000","$700,059,566","$1,348,258,224"
436,"[Action, Adventure, Fantasy, Science Fiction]",en,44.140,Black Panther,7.4,12365,134.0,7.3,516148,BV,"Feb 16, 2018","$200,000,000","$700,059,566","$1,348,258,224"
438,[Comedy],en,0.725,Snatched,3.5,2,81.0,5.5,61,Fox,"May 12, 2017","$42,000,000","$45,852,178","$57,852,177"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,"[Drama, History, Thriller]",en,11.576,The 15:17 to Paris,5.3,799,94.0,5.2,21880,WB,"Feb 9, 2018","$30,000,000","$36,276,286","$56,096,200"
1661,[Comedy],en,10.836,Uncle Drew,6.5,220,103.0,5.7,9739,LG/S,"Jun 29, 2018","$18,000,000","$42,469,946","$46,527,161"
1662,"[Crime, Drama, History, Thriller]",en,10.034,Gotti,5.2,231,112.0,4.8,10358,VE,"Jun 15, 2018","$10,000,000","$4,286,367","$6,089,100"
1663,"[Thriller, Action, Crime]",en,9.371,Proud Mary,5.5,259,89.0,4.9,6805,SGem,"Jan 12, 2018","$30,000,000","$20,868,638","$21,709,539"
1664,"[Action, Adventure, Animation]",en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,"Feb 2, 2018","$30,000,000","$490,973","$648,599"

In [48]:
#clean up budget and gross numbers, add the return on investment column
less_columns['production_budget'] = less_columns['production_budget'].str.replace(',', '')
less_columns['production_budget'] = less_columns['production_budget'].str.replace('$', '')
less_columns['production_budget'] = less_columns['production_budget'].astype(int)
less_columns['domestic_gross'] = less_columns['domestic_gross'].str.replace(',', '').str.replace('$', '')
less_columns['domestic_gross'] = less_columns['domestic_gross'].astype(int)
less_columns['worldwide_gross'] = less_columns['worldwide_gross'].str.replace(',', '').str.replace('$', '')
less_columns['worldwide_gross'] = less_columns['worldwide_gross'].astype(int)
less_columns['total_gross'] = less_columns['domestic_gross'] + less_columns['worldwide_gross']
less_columns['ROI'] = (less_columns['total_gross'] / less_columns['production_budget']) * 100

In [59]:
less_columns.groupby(['studio'], sort = True).mean()

,popularity,vote_average,vote_count,runtime_minutes,averagerating,numvotes,production_budget,domestic_gross,worldwide_gross,total_gross,ROI
studio,,,,,,,,,,,
A24,12.682143,6.978571,1548.857143,107.785714,7.150000,86213.214286,6.757143e+06,1.479759e+07,2.311597e+07,3.791356e+07,769.338031
Affirm,8.023500,6.600000,61.500000,108.000000,6.350000,3441.000000,3.500000e+06,1.167510e+07,1.573575e+07,2.741085e+07,724.380020
Amazon,16.925000,7.000000,752.000000,152.000000,6.800000,37360.000000,2.000000e+07,2.483472e+06,7.034615e+06,9.518087e+06,47.590435
Annapurna,16.821000,5.983333,602.333333,116.000000,6.033333,35629.500000,4.350000e+07,3.463237e+07,5.117882e+07,8.581120e+07,189.865364
BBC,0.600000,5.000000,1.000000,100.000000,7.300000,112.000000,6.000000e+05,0.000000e+00,7.943000e+03,7.943000e+03,1.323833
BG,9.702400,5.680000,765.200000,103.200000,5.400000,31705.200000,2.220000e+07,8.642129e+06,1.225362e+07,2.089574e+07,114.555707
BH Tilt,15.236200,6.180000,735.600000,93.750000,6.400000,28304.200000,3.200000e+06,9.674871e+06,1.396210e+07,2.363697e+07,1051.374768
BST,10.946727,6.672727,800.545455,112.727273,6.990909,44279.272727,1.395455e+07,8.354418e+06,1.696968e+07,2.532410e+07,304.229808
BV,26.324533,7.073333,6391.400000,117.666667,7.240000,247933.466667,1.643633e+08,2.622809e+08,6.903569e+08,9.526378e+08,527.165070
Cleopatra,7.120000,7.500000,500.000000,103.000000,7.400000,23204.000000,8.000000e+06,8.270300e+04,1.738269e+07,1.746540e+07,218.317450
Cohen,7.692000,6.100000,150.000000,105.000000,6.300000,12047.000000,1.000000e+07,1.279681e+06,7.582196e+06,8.861877e+06,88.618770
Drft.,10.424000,6.500000,1063.000000,100.000000,6.700000,70213.000000,1.000000e+06,2.317380e+05,3.548360e+05,5.865740e+05,58.657400
EC,11.375000,6.300000,643.000000,111.250000,6.350000,31745.000000,1.400000e+07,5.200470e+06,9.540148e+06,1.474062e+07,122.472319
ENTMP,5.761000,5.480000,276.400000,97.000000,4.900000,7453.800000,1.592000e+07,4.230427e+06,1.524140e+07,1.947183e+07,140.316829
EOne,8.512000,7.600000,1493.000000,93.000000,8.050000,6.000000,7.750000e+07,1.311213e+06,1.020289e+08,1.033401e+08,133.342106
Focus,12.843818,6.540909,1567.545455,112.181818,6.390909,69247.863636,2.344545e+07,2.691394e+07,6.056790e+07,8.748184e+07,431.983471
Fox,16.329956,6.428889,2923.288889,107.666667,6.433333,112663.844444,6.226667e+07,8.886429e+07,2.308018e+08,3.196661e+08,513.629140
FoxS,14.955267,7.146667,2600.266667,111.857143,7.126667,114623.666667,1.233333e+07,2.673951e+07,6.963392e+07,9.637344e+07,759.587401
Global Road,14.585000,5.900000,471.000000,94.000000,6.100000,30586.000000,1.500000e+07,6.708137e+06,1.275880e+07,1.946694e+07,129.779573
GrtIndia,10.406000,7.000000,252.000000,167.000000,8.300000,65656.000000,3.000000e+07,1.898579e+07,2.635029e+08,2.824887e+08,941.629027
IFC,3.442444,6.711111,107.666667,94.125000,6.811111,6535.333333,2.111111e+07,8.991631e+06,2.327672e+07,3.226835e+07,60.839222
LG/S,14.899100,6.560000,3733.200000,115.600000,6.520000,154962.200000,7.450000e+07,6.393309e+07,1.800363e+08,2.439694e+08,766.855406
LGF,12.270686,7.334286,1741.914286,96.600000,6.328571,63740.000000,2.205714e+07,3.828302e+07,7.821441e+07,1.164974e+08,685.566288
MGM,26.907000,6.700000,2236.000000,130.000000,7.200000,72503.000000,5.000000e+07,1.157159e+08,2.135915e+08,3.293074e+08,658.614822
Magn.,7.496000,7.350000,345.000000,151.000000,7.200000,44239.000000,1.700000e+06,2.652300e+05,4.585970e+05,7.238270e+05,40.204972
Neon,15.407000,7.500000,2904.000000,120.000000,7.500000,141668.000000,1.100000e+07,3.001453e+07,5.379741e+07,8.381194e+07,761.926755
ORF,10.206308,5.938462,790.769231,104.000000,5.800000,27273.153846,2.003077e+07,1.253316e+07,2.059715e+07,3.313031e+07,234.307523
Orch.,12.545000,7.800000,915.000000,101.000000,7.900000,87532.000000,2.500000e+06,5.205471e+06,2.384553e+07,2.905100e+07,1162.040160
PNT,1.927000,5.100000,21.000000,101.000000,4.700000,876.000000,3.000000e+06,3.127773e+06,7.445044e+06,1.057282e+07,352.427233
Par.,16.209933,6.496667,2649.866667,111.533333,6.406667,113429.000000,6.013333e+07,7.158406e+07,1.582963e+08,2.298804e+08,785.999781
RAtt.,9.679286,6.635714,866.642857,106.583333,6.835714,38642.142857,1.585714e+07,8.920933e+06,1.719401e+07,2.611495e+07,297.848976
RLJ,8.420000,4.850000,310.000000,117.000000,5.350000,22208.500000,6.000000e+06,1.214525e+06,1.427656e+06,2.642181e+06,44.036350
Rela.,6.324000,4.400000,272.000000,85.000000,3.900000,8167.000000,1.500000e+07,2.423467e+06,3.503761e+06,5.927228e+06,39.514853
SGem,12.073556,5.144444,860.888889,91.777778,5.288889,25217.888889,1.988889e+07,2.493729e+07,7.126976e+07,9.620705e+07,580.874536
SPC,7.725000,5.800000,186.000000,103.000000,6.300000,10629.000000,3.200000e+06,4.267219e+06,5.526942e+06,9.794161e+06,306.067531
STX,15.375333,6.538095,1306.523810,108.095238,6.390476,52593.428571,3.386190e+07,3.772292e+07,8.618104e+07,1.239040e+08,507.802974
Sony,18.153750,6.095833,2784.375000,107.541667,6.129167,87812.000000,5.337500e+07,9.551376e+07,2.520074e+08,3.475211e+08,600.316412
Studio 8,21.850500,6.000000,944.500000,100.750000,6.575000,14569.000000,4.575000e+07,3.288974e+07,8.120565e+07,1.140954e+08,240.857129
TriS,14.702333,6.966667,3457.000000,106.666667,7.066667,156106.000000,2.466667e+07,7.018102e+07,1.317897e+08,2.019707e+08,842.811408
Uni.,12.221639,5.951807,2112.265060,103.240506,5.844578,67961.843373,3.028916e+07,9.970420e+07,2.431449e+08,3.428491e+08,3950.591061
VE,6.370500,6.000000,142.500000,108.500000,6.400000,13606.000000,2.000000e+07,2.388670e+06,3.368850e+06,5.757520e+06,53.776622
W/Dim.,10.713000,5.500000,1065.000000,106.000000,5.700000,33335.000000,2.000000e+07,5.503900e+04,1.582437e+07,1.587941e+07,79.397065
WB,21.276250,6.484091,3984.227273,110.909091,6.486364,163486.431818,1.100227e+08,1.516959e+08,3.659890e+08,5.176849e+08,474.748970
WB (NL),12.773045,6.295455,2547.500000,101.850000,6.381818,84703.818182,2.686364e+07,7.985361e+07,1.580711e+08,2.379247e+08,1307.528938
Wein.,13.383000,7.155556,2270.111111,118.444444,6.277778,67376.333333,1.644444e+07,2.680137e+07,7.363171e+07,1.004331e+08,812.561678

In [24]:
master_unclean['vote_count'].describe()

count     2836.000000
mean      1412.928420
std       2429.018303
min          1.000000
25%         81.000000
50%        439.500000
75%       1617.000000
max      22186.000000
Name: vote_count, dtype: float64

In [28]:
run_time = master_unclean.loc[(master_unclean['runtime_minutes'] > 30) & (master_unclean['runtime_minutes'] < 180)]
run_time

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,...,start_year,runtime_minutes,genres,averagerating,numvotes,studio,year,production_budget,domestic_gross,worldwide_gross
0,1.0,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610.0,...,2010.0,98.0,"Action,Adventure,Animation",8.1,611299.0,P/DW,2010.0,NaN,NaN,NaN
1,2.0,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368.0,...,2010.0,124.0,"Action,Adventure,Sci-Fi",7.0,657690.0,Par.,2010.0,NaN,NaN,NaN
2,4.0,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186.0,...,2010.0,148.0,"Action,Adventure,Sci-Fi",8.8,1841066.0,WB,2010.0,NaN,NaN,NaN
3,7.0,"[Animation, Family, Comedy]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340.0,...,2010.0,103.0,"Adventure,Animation,Comedy",8.3,682218.0,BV,2010.0,NaN,NaN,NaN
4,8.0,"[Animation, Family, Comedy]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057.0,...,2010.0,95.0,"Animation,Comedy,Family",7.7,464511.0,Uni.,2010.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2831,24778.0,[Drama],484428,sv,Unga Astrid,4.734,20Drama-11-23,Becoming Astrid,7.4,28.0,...,2018.0,123.0,"Biography,Drama",7.2,2497.0,MBox,2018.0,NaN,NaN,NaN
2832,24916.0,[Drama],473262,it,"Nico, 1988",3.789,20Drama-07-04,"Nico, 1988",7.3,40.0,...,2017.0,93.0,"Biography,Drama,Music",6.8,1007.0,Magn.,2018.0,NaN,NaN,NaN
2833,25037.0,[Documentary],465871,en,Maria by Callas,3.184,20Drama-11-02,Maria by Callas,7.6,11.0,...,2017.0,119.0,"Biography,Documentary,Music",7.2,867.0,SPC,2018.0,NaN,NaN,NaN
2834,25148.0,"[Action, Adventure, Animation]",332718,en,Bilal: A New Breed of Hero,2.707,20Drama-02-02,Bilal: A New Breed of Hero,6.8,54.0,...,2015.0,105.0,"Action,Adventure,Animation",8.0,16854.0,VE,2018.0,NaN,NaN,NaN
2835,25189.0,[Comedy],498919,es,La Boda de Valentina,2.550,20Drama-02-09,La Boda de Valentina,6.3,7.0,...,2018.0,107.0,"Comedy,Romance",4.7,523.0,PNT,2018.0,NaN,NaN,NaN

In [14]:
movie_budgets_df=movie_budgets_df.rename(columns={'movie':'title'})
movie_budgets_df

,id,release_date,title,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

Empty DataFrame
Columns: [id, release_date, title, production_budget, domestic_gross, worldwide_gross, Unnamed: 0, genre_ids, original_language, original_title, popularity, vote_average, vote_count, tconst, primary_title, start_year, runtime_minutes, genres, averagerating, numvotes]
Index: []

In [9]:
let = louis_and_ely_and_teigen.drop(['domestic_gross', 'foreign_gross'], axis = 1)
let

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,tconst,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,year
0,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,tt0892769,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299,P/DW,2010
1,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,tt1228705,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690,Par.,2010
2,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066,WB,2010
3,7,"[Animation, Family, Comedy]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340,tt0435761,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218,BV,2010
4,8,"[Animation, Family, Comedy]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057,tt1323594,Despicable Me,2010,95.0,"Animation,Comedy,Family",7.7,464511,Uni.,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2831,24778,[Drama],484428,sv,Unga Astrid,4.734,20Drama-11-23,Becoming Astrid,7.4,28,tt6433456,Becoming Astrid,2018,123.0,"Biography,Drama",7.2,2497,MBox,2018
2832,24916,[Drama],473262,it,"Nico, 1988",3.789,20Drama-07-04,"Nico, 1988",7.3,40,tt7186092,"Nico, 1988",2017,93.0,"Biography,Drama,Music",6.8,1007,Magn.,2018
2833,25037,[Documentary],465871,en,Maria by Callas,3.184,20Drama-11-02,Maria by Callas,7.6,11,tt7364566,Maria by Callas,2017,119.0,"Biography,Documentary,Music",7.2,867,SPC,2018
2834,25148,"[Action, Adventure, Animation]",332718,en,Bilal: A New Breed of Hero,2.707,20Drama-02-02,Bilal: A New Breed of Hero,6.8,54,tt3576728,Bilal: A New Breed of Hero,2015,105.0,"Action,Adventure,Animation",8.0,16854,VE,2018
2835,25189,[Comedy],498919,es,La Boda de Valentina,2.550,20Drama-02-09,La Boda de Valentina,6.3,7,tt4823538,La Boda de Valentina,2018,107.0,"Comedy,Romance",4.7,523,PNT,2018

In [ ]:
#clean teigen's data